* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

header img {
    width: 24%;
    height: auto;
    position: relative;
    left: 268px;
    top: 42px;
}

section {
    position: relative;
    min-height: 100vh;
    z-index: 0;
    background: #0568c1;
    padding: 30px;
    justify-content: center;
    display: grid;

    grid-template-rows: 1fr auto 1fr;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.login-form h1 {
    text-align: center;      
    font-size: 2.5rem; 
    font-weight: 400;
    color: #fff;
    font-family: 'poppins',sans-serif;
}

.login-form h2 {
    line-height: 40px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
    color: #272346;
    text-align: center;
}

section main {
    position: relative;
    display: flex;
    margin: 30px 0;
}

article {
    flex-basis: 50%;
    padding: 3em 3em;
    background: #fff;
    box-shadow: 2px 9px 49px -17px rgba(0,0,0,0.1);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

aside {
    flex-basis: 50%;
    background: #f4f9fdf0;
    background-size: cover;
    padding: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
    display: grid;
}

aside img {
    max-width: 100%;
}

.akun {
    color: #666;
    font-size: 16px;
    line-height: 25px;
    opacity: 0.6;
    text-align: center;
}

.btn, button, input {
    border-radius: 35px;
}

.btn:hover {
    transition: 0.5s ease;
    color: #272346;
}

a {
    text-decoration: none;
}

form {
    margin: 30px 0;
}

form input {
    outline: none;
    margin-bottom: 15px;
    font-stretch: expanded;
    color: #999;
    text-align: left;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: #f4f9fd89;
    transition: 0.3s ease;
}

form input:focus {
    background: transparent;
    border: 1px solid #4e34b6;
}

form .btn {
    font-size: 18px;
    color: #fff;
    width: 100%;
    background: #4e34b6;
    border: none;
    padding: 14px 15px;
    font-weight: 600;
}

p.akun a {
    color: #4e34b6;
}

p.akun a:hover {
    text-decoration: underline;
}

@media(max-width:736px) {
    section main {
        flex-direction: column;
    }

    section form {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    aside {
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        order: 2;
    }

    article {
        order: 1;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    header img {
        width: 24%;
        height: auto;
        position: relative;
        left: 150px;
        top: 37px;
    }
}

/* pesan salah password / username */
.error-message {
    color: red;
    font-style: italic;
    text-align: center;
    animation: fadeOut 3s ease forwards;
    animation-delay: 3s;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}